{% extends "base.html" %}

{% block page_title %}
Admin: Player "{{ playername }}"
{% end %}

{% block body %}

<h2>Admin View: Player "{{ playername }}"</h2>

<p>
<a href="/admin">Admin</a> -
<a href="/admin/sessions">sessions</a>
</p>


<ul>
<li>uid: {{ player['_id'] }}
<li>name: {{ player['name'] }}
<li>namekey: {{ player['namekey'] }}
{% if isadmin %}<li>ADMINISTRATOR{% end %}
<li>{% if isbuild %}builder{% else %}not builder{% end %}
 <form method="post" action="#">
  {% module xsrf_form_html() %}
  <input name="playerbuildflag" type="submit" value="Change">
 </form>
<li>email: {{ player['email'] }}
<li>createtime: {{ player['createtime'] }}
<li>pronoun: {{ player['pronoun'] }}
<li>desc: {{ player['desc'] }}

{% if connlist %}

<li>Connected:
<ul>
{% for conn in sorted(connlist, key=lambda conn:conn.uptime()) %}
  <li>{{ conn.email}},
      on {{ conn.uptime() }}, idle {{ conn.idletime() }} 
      (connid {{ conn.connid }}, uid {{ conn.uid }}, sessionid ...{{ conn.sessionid[-4:] }})
  {% if not conn.available %} (unavailable) {% end %}
  <form method="post" action="#">
   {% module xsrf_form_html() %}
   <input type="hidden" name="connid" value="{{ conn.connid }}">
   <input name="playerkillconn" type="submit" value="Disconnect">
  </form>
{% end %}
</ul>

{% end %}

<li>playstate:
 <ul>
 <li>world: {{ worldname }}
 <li>scope: {{ scopetype }}
 <li>location: {{ locname }}
 </ul>

</ul>

{% end %}
