{% extends "base.html" %}

{% block page_title %}
Admin View
{% end %}

{% block body %}

<h2>Admin View</h2>

<h3>Status</h3>

<ul>
<li>Mongo: {% if mongoavailable %} ok {% else %} down! {% end %}
<li>Tworld: {% if tworldavailable %} ok {% else %} down! {% end %}
</ul>

<h3>Connection Table: {{ len(conntable) }} websockets</h3>
<ul>
{% for (id, conn) in sorted(conntable.items(), key=lambda tup:tup[1].email) %}
  <li><a href="/admin/player/{{ conn.uid }}">{{ conn.email}}</a>,
      on {{ conn.uptime() }}, idle {{ conn.idletime() }} 
      (connid {{ id }}, uid {{ conn.uid }}, sessionid ...{{ conn.sessionid[-4:] }})
  {% if not conn.available %} (unavailable) {% end %}
{% end %}
</ul>

<h3>Buttons</h3>

<form method="post" action="/admin"><p>
 {% module xsrf_form_html() %}
 <input name="playerconntable" type="submit" value="Check Player Connections">
</p></form>

{% end %}
