<!DOCTYPE html>
<html>
<head>
<title>{{ tworld_app_title() }}: {% block page_title %}Welcome{% end %}</title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<link rel="stylesheet" href="{{ static_url('css/base.css') }}" type="text/css">
{% set suppress_banner_link = False %}
{% block head_ext %}{% end %}
</head>
<body class="{% block bodyclass %}BodyClass{% end %}">

<div id="header">
<div id="subheader">
<h1>
 {% if suppress_banner_link %}
  {% raw tworld_app_banner() %}
 {% else %}
  <a href="/">{% raw tworld_app_banner() %}</a>
 {% end %}
</h1>
{% if twsessionstatus %}
 <div class="HeadControls">
  {% if twsessionstatus == 'auth' %}
   Welcome, <a href="/account">{{ twsession.get('name', '???') }}</a><br>
   <a href="/logout">Sign out</a>
  {% elif twsessionstatus == 'unauth' %}
   <a href="/">Sign in</a>
  {% elif twsessionstatus == 'unknown' %}
   Not available
  {% end %}
 </div>
{% end %}
</div>
</div>

<div id="main">
<div id="submain">

 <div id="localepane">
  {% block body %}<p>BODY</p>{% end %}
 </div>

</div>
</div>

</body>
</html>
