{% extends "base.html" %}

{% block page_title %}
Building: {{ worldname }}
{% end %}

{% block head_ext %}
<link rel="stylesheet" href="{{ static_url('css/build.css') }}" type="text/css">
<link rel="stylesheet" href="{{ static_url('css/jquery-ui.css') }}" type="text/css">
<script src="{{ static_url('js/jquery-1.9.1.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/ui/1.10.3/jquery-ui.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/jquery.contextMenu.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/jquery.autosize.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/build.js') }}" type="text/javascript"></script>

<script type="text/javascript">
/* Which page is this? Cheap way of telling build.js. */
var pageid = 'world';
var pageworldid = "{{wid}}";
var pageworldname = {% raw worldnamejs %};
var pagelocid = null;
/* World information. */
var worldcopyable = {% raw worldcopyable %};
var worldinstancing = {% raw worldinstancing %};
/* List of locations in this world. */
var db_locations = {% raw locarray %};
/* List of default realm-level properties. */
var db_world_props = {% raw worldproparray %};
/* List of default player-scope properties. */
var db_player_props = {% raw playerproparray %};
/* Form verification token. (Tornado checks this against a cookie.) */
var xsrf_token = "{{ xsrf_token }}";
</script>
{% end %}

{% block body %}

<div class="BuildBar">
<span class="BuildBarItem"><a href="/build">Worlds</a></span>
<span class="BuildBarSep">&#x2013;</span>
<span class="BuildBarItem"><a id="build_world_name" href="/build/world/{{wid}}">{{ worldname }}</a></span>
<span class="BuildBarSep">&#x2013;</span>
<span class="BuildBarItem"><a id="build_location_menu" href="#"><span style="color: #884">&#x25BE;</span> (select location)</a></span>
</div>


<div class="BuildPropTableBox">
 <table class="BuildPropTable" cellspacing="0">
 <colgroup><col width="30%"><col width="70%"></colgroup>
 <tr>
  <th colspan="2">World</th>
 </tr>
 <tr valign="top">
  <td class="BuildStaticCell">name</td>
  <td id="build_world_name_cell">XXX</td>
 </tr>
 <tr valign="top">
  <td class="BuildStaticCell">copyable</td>
  <td id="build_world_copyable_cell">XXX</td>
 </tr>
 <tr valign="top">
  <td class="BuildStaticCell">instancing</td>
  <td id="build_world_instancing_cell">XXX</td>
 </tr>
 <tr valign="top">
  <td class="BuildStaticCell"></td>
  <td class="BuildStaticCell"><a href="/build/trash/{{wid}}">Browse recently discarded properties</a></td>
 </tr>
 </table>
</div>

<div class="BuildPropTableBox">
 <table id="build_world_properties" class="BuildPropTable" cellspacing="0">
 </table>
</div>

<div class="BuildPropTableBox">
 <table id="build_player_properties" class="BuildPropTable" cellspacing="0">
 </table>
</div>

<div class="BuildPropTableBox">
 <table class="BuildPropTable" cellspacing="0">
 <colgroup><col width="30%"><col width="70%"></colgroup>
 <tr>
  <th colspan="2">Locations</th>
 </tr>
 {% for loc in locations %}
  <tr>
   <td><a href="/build/loc/{{ loc['_id'] }}">{{ loc['key'] }}</a></td>
   <td><a href="/build/loc/{{ loc['_id'] }}">{{ loc['name'] }}</a></td>
  </tr>
 {% end %}
 <tr>
  <td colspan="2">
   <div class="BuildPropButtons">
    <input id="button_add_new_location" class="BuildPropButtonLarge" type="submit" value="New Location">
   </div>
  </td>
 </tr>
 </table>
</div>

{% end %}
