{% extends "base.html" %}

{% block page_title %}
Building: {{ worldname }}
{% end %}

{% block head_ext %}
<link rel="stylesheet" href="{{ static_url('css/build.css') }}" type="text/css">
<link rel="stylesheet" href="{{ static_url('css/jquery-ui.css') }}" type="text/css">
<script src="{{ static_url('js/jquery-1.9.1.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/ui/1.10.3/jquery-ui.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/jquery.contextMenu.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/jquery.autosize.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/build.js') }}" type="text/javascript"></script>

<script type="text/javascript">
/* Which page is this? Cheap way of telling build.js. */
var pageid = 'portlist';
var pageworldid = "{{wid}}";
var pageplistid = "{{plistid}}";
var pageplistkey = {% raw plistkey %};
/* List of locations in this world. */
var db_locations = {% raw locarray %};
/* List of portals in the portlist. */
var db_portals = {% raw portarray %};
/* Form verification token. (Tornado checks this against a cookie.) */
var xsrf_token = "{{ xsrf_token }}";
</script>
{% end %}

{% block body %}

<div class="BuildBar">
<span class="BuildBarItem"><a href="/build">Worlds</a></span>
<span class="BuildBarSep">&#x2013;</span>
<span class="BuildBarItem"><a id="build_world_name" href="/build/world/{{wid}}">{{ worldname }}</a></span>
<span class="BuildBarSep">&#x2013;</span>
<span class="BuildBarItem"><a id="build_location_menu" href="#"><span style="color: #884">&#x25BE;</span> (select location)</a></span>
<span class="BuildBarItem BuildBarItemRight"><a href="/doc" target="_blank">Help</a></span>
</div>

{% if withblurb %}
<p>
Set a short name for this list by customizing the key. (You will use this
key when you create a PortList property in a location of this world.)
Then add portals with the &#x201C;New Portal&#x201D; button.
Select a destination (from your personal collection) with the
portal&#x2019;s &#x201C;World&#x201D; button.
</p>
<p>
You may also leave this list empty, if you plan to allow visitors to add
links to it.
</p>
{% end %}

<div class="BuildPropTableBox">
 <table class="BuildPropTable" cellspacing="0">
 <colgroup><col width="30%"><col width="70%"></colgroup>
 <tr>
  <th colspan="2">Portal List</th>
 </tr>
 <tr valign="top">
  <td><em>key</em></td>
  <td id="build_plist_key_cell">XXX</td>
 </tr>
 <tr>
  <td colspan="2">
   <div class="BuildPropButtons">
    <input id="button_delete_portlist" class="BuildPropButtonLarge" type="submit" value="Delete This Portal List">
   </div>
   <div id="button_delete_confirm" class="BuildPropButtons" style="display:none;">
    <div class="BuildPropWarning">
     Are you sure? This will delete this list and all portals on this page.
    </div>
    <input id="button_delete_cancel" type="submit" value="Cancel">
    <input id="button_delete_delete" type="submit" value="Delete">
   </div>
  </td>
 </tr>
 </table>
</div>

<div class="BuildPropTableBox">
 <table id="build_portals" class="BuildPropTable" cellspacing="0">
 </table>
</div>


{% end %}
