{% extends "base.html" %}

{% block page_title %}
Building: {{ worldname }}
{% end %}

{% block head_ext %}
<link rel="stylesheet" href="{{ static_url('css/build.css') }}" type="text/css">
<link rel="stylesheet" href="{{ static_url('css/jquery-ui.css') }}" type="text/css">
<script src="{{ static_url('js/jquery-1.9.1.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/ui/1.10.3/jquery-ui.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/jquery.contextMenu.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/jquery.autosize.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/build.js') }}" type="text/javascript"></script>

<script type="text/javascript">
/* Which page is this? Cheap way of telling build.js. */
var pageid = 'loc';
var pageworldid = "{{wid}}";
var pagelocid = "{{locid}}";
var pagelockey = {% raw lockey %};
/* List of locations in this world. */
var db_locations = {% raw locarray %};
/* List of properties in the location. */
var db_props = {% raw proparray %};
/* Form verification token. (Tornado checks this against a cookie.) */
var xsrf_token = "{{ xsrf_token }}";
</script>
{% end %}

{% block body %}

<div class="BuildBar">
<span class="BuildBarItem"><a href="/build">Worlds</a></span>
<span class="BuildBarSep">&#x2013;</span>
<span class="BuildBarItem"><a href="/build/world/{{wid}}">{{ worldname }}</a></span>
<span class="BuildBarSep">&#x2013;</span>
<span class="BuildBarItem"><a id="build_location_menu" href="#"><span style="color: #884">&#x25BE;</span> {{ locname }}</a></span>
</div>

<h3 class="BuildSectionHead">Location properties</h3>

<div class="BuildPropTableBox">
 <table id="build_loc_properties" class="BuildPropTable" cellspacing="0">
 <colgroup><col width="30%"><col width="70%"></colgroup>
 </table>
</div>

{% end %}
