{% extends "base.html" %}

{% block page_title %}
Building: {{ worldname }}
{% end %}

{% block head_ext %}
<link rel="stylesheet" href="{{ static_url('css/build.css') }}" type="text/css">
<link rel="stylesheet" href="{{ static_url('css/jquery-ui.css') }}" type="text/css">
<script src="{{ static_url('js/jquery-1.9.1.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/ui/1.10.3/jquery-ui.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/jquery.contextMenu.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/jquery.autosize.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/build.js') }}" type="text/javascript"></script>

<script type="text/javascript">
/* Which page is this? Cheap way of telling build.js. */
var pageid = 'loc';
var pageworldid = "{{wid}}";
var pagelocid = "{{locid}}";
var pagelockey = {% raw lockey %};
var pagelocname = {% raw locnamejs %};
/* List of locations in this world. */
var db_locations = {% raw locarray %};
/* List of properties in the location. */
var db_props = {% raw proparray %};
/* Form verification token. (Tornado checks this against a cookie.) */
var xsrf_token = "{{ xsrf_token }}";
</script>
{% end %}

{% block body %}

<div class="BuildBar">
<span class="BuildBarItem"><a href="/build">Worlds</a></span>
<span class="BuildBarSep">&#x2013;</span>
<span class="BuildBarItem"><a id="build_world_name" href="/build/world/{{wid}}">{{ worldname }}</a></span>
<span class="BuildBarSep">&#x2013;</span>
<span class="BuildBarItem"><a id="build_location_menu" href="#"><span style="color: #884">&#x25BE;</span> <span id="build_location_name">{{ locname }}</span></a></span>
</div>

<div class="BuildPropTableBox">
 <table class="BuildPropTable" cellspacing="0">
 <colgroup><col width="30%"><col width="70%"></colgroup>
 <tr>
  <th colspan="2">Location</th>
 </tr>
 <tr valign="top">
  <td><em>name</em></td>
  <td id="build_loc_name_cell">XXX</td>
 </tr>
 <tr valign="top">
  <td><em>key</em></td>
  <td id="build_loc_key_cell">XXX</td>
 </tr>
 <tr>
  <td colspan="2">
   <div class="BuildPropButtons">
    <input id="button_copyportal_location" class="BuildPropButtonLarge" type="submit" value="Create Portal to Here">
   </div>
   <div id="button_copyportal_confirm" class="BuildPropButtons" style="display:none;">
    <div class="BuildPropWarning">
     This will add a portal for this location to your personal collection.
    </div>
    <input id="button_copyportal_cancel" type="submit" value="Cancel">
    <input id="button_copyportal_copyportal" type="submit" value="Create">
   </div>
  </td>
 </tr>
 <tr>
  <td colspan="2">
   <div class="BuildPropButtons">
    <input id="button_delete_location" class="BuildPropButtonLarge" type="submit" value="Delete This Location">
   </div>
   <div id="button_delete_confirm" class="BuildPropButtons" style="display:none;">
    <div class="BuildPropWarning">
     Are you sure? This will delete this location and all properties on this page.
    </div>
    <input id="button_delete_cancel" type="submit" value="Cancel">
    <input id="button_delete_delete" type="submit" value="Delete">
   </div>
  </td>
 </tr>
 </table>
</div>


<div class="BuildPropTableBox">
 <table id="build_loc_properties" class="BuildPropTable" cellspacing="0">
 </table>
</div>

{% end %}
