{% extends "build_base.html" %}

{% block head_build_script %}
/* Which page is this? Cheap way of telling build.js. */
var pageid = 'propaccess';
var pageworldid = "{{wid}}";
var pagelocid = null;
/* List of locations in this world. */
var db_locations = {% raw locarray %};
/* List of portals in the portlist. */
var db_propaccess = {% raw propacarray %};
/* List of portals in the player's personal collection. */
var db_selfportals = {% raw selfportarray %};
{% end %}

{% block body %}

<div class="BuildBar">
<span class="BuildBarItem"><a href="/build">Worlds</a></span>
<span class="BuildBarSep">&#x2013;</span>
<span class="BuildBarItem"><a id="build_world_name" href="/build/world/{{wid}}">{{ worldname }}</a></span>
<span class="BuildBarSep">&#x2013;</span>
<span class="BuildBarItem"><a id="build_location_menu" href="#"><span style="color: #884">&#x25BE;</span> (select location)</a></span>
<span class="BuildBarItem BuildBarItemRight"><a href="/doc" target="_blank">Help</a></span>
</div>

{% if withblurb %}
<p>
These entries permit foreign worlds (created by other authors) to interact
with your world's realm properties. If you intend this world to be 
self-contained -- or to be accessed only by your own worlds --
you should leave this table empty.
</p>
{% else %}
<p>
These entries permit foreign worlds (created by other authors) to interact
with your world's realm properties.
</p>
{% end %}

<div class="BuildPropTableBox">
 <table id="build_propaccess" class="BuildPropTable" cellspacing="0">
 </table>
</div>

{% end %}
