{% extends "build_base.html" %}

{% block head_build_script %}
/* Which page is this? Cheap way of telling build.js. */
var pageid = 'trash';
var pageworldid = "{{wid}}";
var pagelocid = null;
/* List of locations in this world. */
var db_locations = {% raw locarray %};
/* Paging position, paging through the trash properties. hasprev and hasnext
   are passed into the templates as ints, for simplicity -- sorry. */
var pagingnum = {{ pagingnum }};
var pagingprev = {{ hasprev }};
var pagingnext = {{ hasnext }};
/* List of trash properties to display. */
var db_trash_props = {% raw trashproparray %};
{% end %}


{% block body_build %}


<div class="BuildPropTableBox">
 <table id="build_trash_properties" class="BuildPropTable" cellspacing="0">
 </table>
</div>

{% end %}
