{% extends "base.html" %}

{% block page_title %}
Welcome
{% end %}

{% block head_ext %}
<link rel="stylesheet" href="{{ static_url('css/form.css') }}" type="text/css">
{% set suppress_banner_link = True %}
{% end %}

{% block body %}

<p>&nbsp;</p>

<p>
Welcome to {{ tworld_app_title() }}.
Please sign in.
</p>

<noscript>
<div class="BlockError">
This service requires Javascript. (You may sign into the web site without
Javascript, but you will not be able to play.)
</div>
</noscript>

<div class="AuthForm">
<form method="post" action="/">
 {% module xsrf_form_html() %}
 <div class="FormSection">
  <input class="FormInput" autocapitalize="off"
   id="login_field" name="name" type="text" placeholder="Name or email"
   {% if init_name %} value="{{init_name}}" {% else %} autofocus="autofocus" {% end %}
   >
 </div>
 <div class="FormSection">
  <input class="FormInput" autocomplete="disabled"
   id="password_field" name="password" type="password" placeholder="Password"
   {% if init_name %} autofocus="autofocus" {% end %}
   >
 </div>
 <div class="FormSection">
  <input class="FormButton FloatRight" name="commit" type="submit" value="Sign in">
  <a href="recover">(Forgot your password?)</a>
 </div>
{% if formerror %}
 <div class="FormSection FormError">
  {{ formerror }}
 </div>
{% end %}
</form>
 <div class="FormDivider">
 </div>
<form method="post" action="/">
 {% module xsrf_form_html() %}
 <input type="hidden" name="register" value="true">
 <div class="FormSection">
  <input class="FormButton" name="register" type="submit" value="Register new account">
  &nbsp; ...if this is your first visit.
 </div>
</form>
</div>

<p>
<a href="/about">What is {{ tworld_app_title() }}?</a>
</p>

{% end %}
