{% extends "base.html" %}

{% block page_title %}
About {{ tworld_app_title() }}
{% end %}

{% block body %}

<h2>What Is {{ tworld_app_title() }}?</h2>

<p>
Tworld is a text MUD engine in a new style. It runs as a web application,
offering hypertext environments (hyperlink-based actions rather than a
command line). Players can construct new areas in a wiki-style interface.
The intent is to have a modern, easily-accessible shared world, which
blends the lightweight social environment of a chat MUD with the inviting
collaborative sandbox of a wiki.
</p>

<h3>Caveats</h3>

<p>
Tworld is still in development. It is not finished yet! The wiki-style
building interface is still vapor. The scripting system is a rudimentary
placeholder. The database schema is likely to change in non-compatible
ways before Tworld hits beta, never mind 1.0.
</p>

{% end %}
