#localepane > :first-child {
  /* Cancel the top margin which the first locale pane entry usually gets. */
  margin-top: 0px;
}

.BuildBar {
  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-weight: 100;
  background: #D2D2B6;
  margin-top: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
}

.BuildBarItem {
  font-size: 1.2em;
}

.BuildBarSep {
  font-size: 1.2em;
  color: #862;
}

#localepane .BuildBarItem a {
  background: none;
  color: #420;
  text-decoration: none;
  border-radius: 4px;
  padding: 2px 8px;
}

#localepane .BuildBarItem a:hover {
  background: #C0C0A0;
}

.BuildPropTableBox {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 20px;
  padding-right: 20px;
  background: #F8F8E8;
  border-top: 1px solid #CCB;
  border-bottom: 1px solid #CCB;
}

.BuildPropTable {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
}

.BuildPropTable th {
  text-align: left;
  font-weight: normal;
  font-style: italic;
  color: #887;
  padding-top: 2px;
  padding-bottom: 4px;
}

.BuildPropTable td {
  padding-top: 2px;
  padding-bottom: 2px;
  border-top: 1px solid #D8D8C8;
}

.BuildStaticCell {
  font-style: italic;
}

.BuildPropDirty {
  background: #FF8;
}

.BuildPropWarning {
  font-size: 0.9em;
  font-style: italic;
  color: #D00;
}

.BuildPropTypeSelect {
  float: right;
  margin-right: 10px;
  font-size: 1.0em;
}

.BuildPropSublabel {
  font-size: 0.8em;
  font-style: italic;
  color: #888;
  text-align: right;
}

.BuildPropKey {
  font-family: Helvetica, Arial, sans-serif;
  background: none;
  border: 0px;
  font-size: 1em;
  width: 100%;
}

.BuildPropSubpane {
  font-family: Helvetica, Arial, sans-serif;
  background: none;
  width: 100%;
  margin: 0px;
  /* border: 1px solid #CCC; */
  border: 0px;
  padding: 4px 4px;
  font-size: 1em;
}

.BuildPropButtons {
  text-align: right;
}

.BuildPropButtonLarge {
  font-size: 1.0em;
}

#popup_menu {
  background: #D2D2B6;
  border: 1px solid #AA9;
  border-radius: 8px;

  padding: 10px 4px;
  list-style: none;

  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}

#popup_menu li {
  padding: 0px 20px;
}

#popup_menu a {
  text-decoration: none;
  color: #A30;
}

#popup_menu li:hover {
  background: #BB8;
}

#popup_menu li.Disabled {
  background: inherit;
}

#popup_menu .Disabled a {
  color: #977;
}
