#topcol {
  position: absolute;
  height: 70%;
  top: 0px;
  width: 100%;
}

#leftcol {
  position: absolute;
  height: 100%;
  left: 0px;
  width: 75%;
}

#rightcol {
  position: absolute;
  height: 100%;
  right: 0px;
  width: 25%;
  overflow: scroll;
  overflow-x: hidden;
  line-height: 1.25em;
}

#bottomcol {
  position: absolute;
  height: 30%;
  bottom: 0px;
  width: 100%;
  background: #EED;
}

#bottomcol_topedge {
  position: absolute;
  width: 100%;
  left: 0px;
  top: -1px;
  height: 1px;
  background: #DDB;
}

#eventboxpane {
  height: 100%;
  background: #F4F4E4;
}

#eventpane {
  position: absolute;
  top: 10px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: scroll;
  overflow-x: hidden;
  background: #EED;
}

#leftcol .ui-resizable-e {
  cursor: crosshair;
  width: 10px;
}

#topcol .ui-resizable-s {
  cursor: crosshair;
  height: 10px;
  bottom: -10px;
}

.ui-resizable-handle {
  -moz-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.ui-resizable-handle:hover {
  background: #BBB;
  -moz-transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.ui-resizable-s > .ResizingThumb {
  position: relative;
  top: 4px;
  width: 12%;
  height: 0px;
  margin: auto;
  background: none;
  border-top: 1px dashed #C0C0B0;
  border-bottom: 1px dashed #FFD;
  z-index: -1;
}

.ui-resizable-e > .ResizingThumb {
  position: relative;
  left: 4px;
  top: 40px;
  height: 60px;
  width: 0px;
  background: none;
  border-left: 1px dashed #CCB;
  border-right: 1px dashed #EEC;
  z-index: -1;
}

#rightcol a {
  text-decoration: none;
  color: #A30; /* inherit? */
}

#rightcol a:hover {
  text-decoration: underline;
  color: #A30;
}

.StyleEmph {
  font-style: italic;
}

.StyleFixed {
  font-family: monospace;
}

.FocusPane {
  /* display: none; */
  /* background: #FFFFF4; */
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 80%;
  overflow: auto;
}

.FocusPane p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-indent: 1.5em;
}

.FocusPane a {
  color: #A30; /* inherit? */
}

#eventpane a {
  text-decoration: none;
  color: #A30; /* inherit? */
}

#eventpane a:hover {
  text-decoration: underline;
  color: #A30;
}

#localepane a.ExternalLink {
  color: #00F;
  background-color: inherit;
}

.FocusPane a.ExternalLink {
  color: #00F;
  background-color: inherit;
}

.Event {
  margin: 0px 20px;
}

.Event:first-child {
  margin-top: 1em;
}

.EventError {
  font-style: italic;
  color: #800;
}

.EventMessage {
  font-style: italic;
}

.EventEchoInput {
  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.Input {
  position: relative;
  margin: 0px 20px 20px 20px;

  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.25em;
}

.InputFrame {
  margin: 0px 0px 0px 1em;
}

.InputPrompt {
  position: absolute;
}

.Input:first-child {
  margin-top: 1em;
}

.Input input {
  display: block;
  width: 100%;

  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.25em;

  border: none;
  margin: 0px;
  padding: 0px;
  outline-width: 0px;
  outline-style: none;
  background: none;
}

.FocusOutline {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #BBB;
  border-radius: 8px;
  background: #EED;
}

.FocusCornerControl {
  float: right;
  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-weight: 100;
  background: #D2D2B6;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 4px;
  border-bottom: 1px solid #AAA;
  border-left: 1px solid #AAA;
  margin-left: 20px;
  padding: 0.25em 0.75em;
}

/* Styles concerning the tool column.
 */

.ToolOutline {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 4px;
  margin-left: 10px;
  border: 1px solid #BBB;
  border-radius: 8px;
  background: #EED;
  overflow: hidden;
}

.ToolTitleBar {
  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-weight: 100;
  background: #D2D2B6;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 1px solid #AAA;
  padding: 0.25em 0px;
}

.ToolSegment {
  clear: both;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #BBB;
  padding: 0.25em 0px;
  overflow: hidden;
}

.ToolFooter {
  clear: both;
  border-top: 1px solid #FFF;
  height: 10px;
}

.ToolSegment ul {
  margin: 0px 15px;
}

.ToolSegment li {
  position: relative;
}

.ToolControl {
  background: #EED;
  width: 1.2em;
  height: 1.1em;
  color: #884;
  font-family: fixed;
  font-size: 1.2em;
  margin-top: 0.15em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #CCA;
}

.ToolControl:hover {
  background: #DDB;
}

.ToolControlLeft {
  position: absolute;
  left: 25px;
}

.ToolControlRight {
  position: absolute;
  right: 14px;
}

.ToolControlDimmed {
  color: #CCA;
}
.ToolControlDimmed:hover {
  background: inherit;
  cursor: inherit;
}

h2.ToolTitle {
  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  margin: 0.5em 15px;
}

div.ToolData {
  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-size: 1.0em;
  font-weight: 100;
  margin: 0.25em 15px;
}

h3.ToolTitle {
  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-size: 1.0em;
  font-weight: 100;
  font-style: italic;
  text-align: right;
  margin: 0.25em 15px 0.5em 15px;
}

.ToolSegment h3.ToolTitle {
  margin-left: 40px;
  margin-right: 40px;
}

.ToolList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.ToolList li {
  padding-left: 15px;
  text-indent: -15px;
}

ul.ToolList + ul.ToolList {
  margin-top: 0.5em;
}

.ToolListSub {
  margin-left: 0px;
  text-indent: 0px;
}

.ToolListButtonish:hover {
  background: #DDC;
  cursor: pointer;
}

.ToolListDimmed {
  color: #888;
}

.ToolListSelected {
  background: #FFA;
}
.ToolListSelected:hover {
  background: #EEA;
}

.ToolGloss {
  font-size: 0.75em;
  font-style: italic;
}

.ToolLabelRight {
  font-size: 0.75em;
  font-style: italic;
  float: right;
  margin-left: 20px;
}

/* Styles that concern the widgets in the tool column -- the menu, the
   sliders, and so on.
*/

#popup_menu {
  background: #D2D2B6;
  border: 1px solid #AA9;
  border-radius: 8px;

  padding: 10px 4px;
  list-style: none;

  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-size: 1.0em;
}

#popup_menu li {
  padding: 0px 20px;
}

#popup_menu a {
  text-decoration: none;
  color: #A30;
}

#popup_menu li:hover {
  background: #BB8;
}

#popup_menu li.Disabled {
  background: inherit;
}

#popup_menu .Disabled a {
  color: #977;
}

.DoneButton {
  font-family: "Gill Sans", Futura, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  width: 3.0em;  
}

.DelButton {
  position: absolute;
  top: 0px;
  right: -5px;
  margin: 0px;

  overflow: hidden;
  color: #F00;
}

.DelButton:hover {
  background: #FB9;
}

#rightcol .ui-slider-horizontal {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  height: 0.5em;
  background: #FFFFE8;
}

#rightcol .ui-slider-horizontal .ui-slider-handle {
  top: -0.4em;
}

#rightcol .ui-slider-handle {
  border-color: #AAA;
  border-radius: 8px;
  background: #CC9;
}

#rightcol .ui-slider-handle.ui-state-hover,
#rightcol .ui-slider-handle.ui-state-focus {
  border-color: #888;
  background-color: #AA7;
}

#rightcol .ui-slider-handle,
#rightcol .ui-widget-content,
#rightcol .ui-widget-header {
  background-image: none;
}

#rightcol input.CheckboxRight {
  float: right;
}


/* Styles that apply to special content in the focus pane. (For example,
   self-description editing.)
*/

.FocusSection {
  margin: 15px 20px;
  color: #666;
}

.FocusInput {
  background: #FFFFF4;
  width: 100%;
  margin: 0px;
  border: 1px solid #CCC;
  padding: 4px 0px;
  font-family: SortsMillGoudy, Palatino, Georgia, serif;
  font-size: 1em;
  border-radius: 3px;
  text-indent: 10px;
}

.FocusSelect {
  font-size: 1.0em;
}

.FocusDivider {
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #BBB;
  border-bottom: 1px solid white;
  height: 1px;
}

.FocusButtonBar {
  text-align: right;
  margin-right: 20px;
}

.FocusButtonLarge {
  font-size: 1.0em;
}

.FocusPlistPortal {
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
}